@import url("https://fonts.googleapis.com/css2?family=Overlock%3Aital%2Cwght%400%2C400%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Forum%3Aital%2Cwght%400%2C400&family=Overlock+SC%3Aital%2Cwght%400%2C400&display=swap");

.plasmic_tokens {
  --token-7z_5s1elM: 0px;
  --plasmic-token-unnamed-style-token: var(--token-7z_5s1elM);
  --token-pBDDl09fR: var(--token-ikZ2OCBOb);
  --plasmic-token-dark-navy: var(--token-pBDDl09fR);
  --token-ZTU4-fhnd: #fba703;
  --plasmic-token-primary: var(--token-ZTU4-fhnd);
  --token-5w9eRGYtt: #d0d0d0;
  --plasmic-token-grey-light: var(--token-5w9eRGYtt);
  --token-v7s9_0YNu: #e4e4e4;
  --plasmic-token-grey-medium-light: var(--token-v7s9_0YNu);
  --token-tdfuckHnS: #535353;
  --plasmic-token-grey-dark: var(--token-tdfuckHnS);
  --token-s5jRH4KwI: #bfbfbf;
  --plasmic-token-grey-medium-dark: var(--token-s5jRH4KwI);
  --token-NoeIqKZ_X: #ffffff;
  --plasmic-token-white: var(--token-NoeIqKZ_X);
  --token-ikZ2OCBOb: #001b93;
  --plasmic-token-unnamed-style-token-3: var(--token-ikZ2OCBOb);
  --token-03Ohw8hKF: var(--token-RlJdlIiey);
  --plasmic-token-unnamed-style-token-2: var(--token-03Ohw8hKF);
  --token-RlJdlIiey: #485baf;
  --plasmic-token-navy-dark-hover-2: var(--token-RlJdlIiey);
  --token-PEiFSSP3z: #ffc043;
  --plasmic-token-primary-hover: var(--token-PEiFSSP3z);
  --token-V_0BaIPUo: var(--token-L-UIZ_k8P);
  --plasmic-token-unnamed-style-token-4: var(--token-V_0BaIPUo);
  --token-L-UIZ_k8P: #000000;
  --plasmic-token-black: var(--token-L-UIZ_k8P);
  --token-IOVqUtKf0: #ed9d01;
  --plasmic-token-primary-dark: var(--token-IOVqUtKf0);
  --token-1OxPqIf2t: #001678;
  --plasmic-token-darker-navy: var(--token-1OxPqIf2t);
  --token-bWyHgWYsE: #fff8eb;
  --plasmic-token-primary-light: var(--token-bWyHgWYsE);
  --token-5tbRbyjTm: #ff5555;
  --plasmic-token-secondary: var(--token-5tbRbyjTm);
  --token-DFnTX2cfP: #ffd2d2;
  --plasmic-token-secondary-light: var(--token-DFnTX2cfP);
  --token-09GIg-Ly5: #f2f5ff;
  --plasmic-token-blue-light: var(--token-09GIg-Ly5);
}

.plasmic_default_styles {
  --mixin-GSwHQHvTuh4r_font-family: "Overlock";
  --mixin-GSwHQHvTuh4r_font-size: 16px;
  --mixin-GSwHQHvTuh4r_font-weight: 400;
  --mixin-GSwHQHvTuh4r_font-style: normal;
  --mixin-GSwHQHvTuh4r_color: var(--token-L-UIZ_k8P);
  --mixin-GSwHQHvTuh4r_text-align: left;
  --mixin-GSwHQHvTuh4r_text-transform: none;
  --mixin-GSwHQHvTuh4r_line-height: 1.5;
  --mixin-GSwHQHvTuh4r_letter-spacing: normal;
  --mixin-GSwHQHvTuh4r_white-space: pre-wrap;
  --mixin-GSwHQHvTuh4r_user-select: text;
  --mixin-GSwHQHvTuh4r_text-decoration-line: none;
  --mixin-GSwHQHvTuh4r_text-overflow: clip;
  --mixin-SQuBEm3ay34__color: #000000;
  --mixin-SQuBEm3ay34__font-weight: 900;
  --mixin-SQuBEm3ay34__font-size: 72px;
  --mixin-SQuBEm3ay34__line-height: 1;
  --mixin-SQuBEm3ay34__letter-spacing: -4px;
  --mixin-rHG6vOVBVdQJ_font-family: "Inter";
  --mixin-rHG6vOVBVdQJ_color: #000000;
  --mixin-rHG6vOVBVdQJ_font-size: 48px;
  --mixin-rHG6vOVBVdQJ_font-weight: 700;
  --mixin-rHG6vOVBVdQJ_letter-spacing: -1px;
  --mixin-rHG6vOVBVdQJ_line-height: 1.1;
  --mixin-3f_v3XU5JXgr_color: #0070f3;
  --mixin-kUNtEhln0lb1_font-family: "Inter";
  --mixin-kUNtEhln0lb1_color: #000000;
  --mixin-kUNtEhln0lb1_font-size: 32px;
  --mixin-kUNtEhln0lb1_font-weight: 600;
  --mixin-kUNtEhln0lb1_letter-spacing: -0.8px;
  --mixin-kUNtEhln0lb1_line-height: 1.2;
  --mixin-jzPIQDwItvYz_font-family: "Inter";
  --mixin-jzPIQDwItvYz_color: #000000;
  --mixin-jzPIQDwItvYz_font-size: 24px;
  --mixin-jzPIQDwItvYz_font-weight: 600;
  --mixin-jzPIQDwItvYz_letter-spacing: -0.5px;
  --mixin-jzPIQDwItvYz_line-height: 1.3;
  --mixin-WJMj3wQuMXsI_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-WJMj3wQuMXsI_border-bottom-color: #dddddd;
  --mixin-WJMj3wQuMXsI_border-bottom-style: solid;
  --mixin-WJMj3wQuMXsI_border-bottom-width: 1px;
  --mixin-WJMj3wQuMXsI_border-left-color: #dddddd;
  --mixin-WJMj3wQuMXsI_border-left-style: solid;
  --mixin-WJMj3wQuMXsI_border-left-width: 1px;
  --mixin-WJMj3wQuMXsI_border-right-color: #dddddd;
  --mixin-WJMj3wQuMXsI_border-right-style: solid;
  --mixin-WJMj3wQuMXsI_border-right-width: 1px;
  --mixin-WJMj3wQuMXsI_border-top-color: #dddddd;
  --mixin-WJMj3wQuMXsI_border-top-style: solid;
  --mixin-WJMj3wQuMXsI_border-top-width: 1px;
  --mixin-WJMj3wQuMXsI_border-bottom-left-radius: 3px;
  --mixin-WJMj3wQuMXsI_border-bottom-right-radius: 3px;
  --mixin-WJMj3wQuMXsI_border-top-left-radius: 3px;
  --mixin-WJMj3wQuMXsI_border-top-right-radius: 3px;
  --mixin-WJMj3wQuMXsI_font-family: "Inconsolata";
  --mixin-WJMj3wQuMXsI_padding-bottom: 1px;
  --mixin-WJMj3wQuMXsI_padding-left: 4px;
  --mixin-WJMj3wQuMXsI_padding-right: 4px;
  --mixin-WJMj3wQuMXsI_padding-top: 1px;
  --mixin-L0MXbfk9QZgd_border-left-color: #dddddd;
  --mixin-L0MXbfk9QZgd_border-left-style: solid;
  --mixin-L0MXbfk9QZgd_border-left-width: 3px;
  --mixin-L0MXbfk9QZgd_color: #888888;
  --mixin-L0MXbfk9QZgd_padding-left: 10px;
  --mixin-1w0-DgzZJoz8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-1w0-DgzZJoz8_border-bottom-color: #dddddd;
  --mixin-1w0-DgzZJoz8_border-bottom-style: solid;
  --mixin-1w0-DgzZJoz8_border-bottom-width: 1px;
  --mixin-1w0-DgzZJoz8_border-left-color: #dddddd;
  --mixin-1w0-DgzZJoz8_border-left-style: solid;
  --mixin-1w0-DgzZJoz8_border-left-width: 1px;
  --mixin-1w0-DgzZJoz8_border-right-color: #dddddd;
  --mixin-1w0-DgzZJoz8_border-right-style: solid;
  --mixin-1w0-DgzZJoz8_border-right-width: 1px;
  --mixin-1w0-DgzZJoz8_border-top-color: #dddddd;
  --mixin-1w0-DgzZJoz8_border-top-style: solid;
  --mixin-1w0-DgzZJoz8_border-top-width: 1px;
  --mixin-1w0-DgzZJoz8_border-bottom-left-radius: 3px;
  --mixin-1w0-DgzZJoz8_border-bottom-right-radius: 3px;
  --mixin-1w0-DgzZJoz8_border-top-left-radius: 3px;
  --mixin-1w0-DgzZJoz8_border-top-right-radius: 3px;
  --mixin-1w0-DgzZJoz8_font-family: "Inconsolata";
  --mixin-1w0-DgzZJoz8_padding-bottom: 3px;
  --mixin-1w0-DgzZJoz8_padding-left: 6px;
  --mixin-1w0-DgzZJoz8_padding-right: 6px;
  --mixin-1w0-DgzZJoz8_padding-top: 3px;
  --mixin-aJLD4iWvzCUr_display: flex;
  --mixin-aJLD4iWvzCUr_flex-direction: column;
  --mixin-aJLD4iWvzCUr_align-items: stretch;
  --mixin-aJLD4iWvzCUr_justify-content: flex-start;
  --mixin-aJLD4iWvzCUr_list-style-position: outside;
  --mixin-aJLD4iWvzCUr_padding-left: 40px;
  --mixin-aJLD4iWvzCUr_position: relative;
  --mixin-aJLD4iWvzCUr_list-style-type: disc;
  --mixin-SJ6cE-GvfB7t3_display: flex;
  --mixin-SJ6cE-GvfB7t3_flex-direction: column;
  --mixin-SJ6cE-GvfB7t3_align-items: stretch;
  --mixin-SJ6cE-GvfB7t3_justify-content: flex-start;
  --mixin-SJ6cE-GvfB7t3_list-style-position: outside;
  --mixin-SJ6cE-GvfB7t3_padding-left: 40px;
  --mixin-SJ6cE-GvfB7t3_position: relative;
  --mixin-SJ6cE-GvfB7t3_list-style-type: decimal;
  --mixin-0FzdeHEx7ShMX_font-family: "Inter";
  --mixin-0FzdeHEx7ShMX_color: #000000;
  --mixin-0FzdeHEx7ShMX_font-size: 20px;
  --mixin-0FzdeHEx7ShMX_font-weight: 600;
  --mixin-0FzdeHEx7ShMX_letter-spacing: -0.3px;
  --mixin-0FzdeHEx7ShMX_line-height: 1.5;
  --mixin-D1SXU9ocrZAxY_font-family: "Inter";
  --mixin-D1SXU9ocrZAxY_color: #000000;
  --mixin-D1SXU9ocrZAxY_font-size: 16px;
  --mixin-D1SXU9ocrZAxY_font-weight: 600;
  --mixin-D1SXU9ocrZAxY_line-height: 1.5;
  --mixin-n4q4LY6HRStKS_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-GSwHQHvTuh4r_font-family);
  font-size: var(--mixin-GSwHQHvTuh4r_font-size);
  font-weight: var(--mixin-GSwHQHvTuh4r_font-weight);
  font-style: var(--mixin-GSwHQHvTuh4r_font-style);
  color: var(--mixin-GSwHQHvTuh4r_color);
  text-align: var(--mixin-GSwHQHvTuh4r_text-align);
  text-transform: var(--mixin-GSwHQHvTuh4r_text-transform);
  line-height: var(--mixin-GSwHQHvTuh4r_line-height);
  letter-spacing: var(--mixin-GSwHQHvTuh4r_letter-spacing);
  white-space: var(--mixin-GSwHQHvTuh4r_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-SQuBEm3ay34__color);
  font-weight: var(--mixin-SQuBEm3ay34__font-weight);
  font-size: var(--mixin-SQuBEm3ay34__font-size);
  line-height: var(--mixin-SQuBEm3ay34__line-height);
  letter-spacing: var(--mixin-SQuBEm3ay34__letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-rHG6vOVBVdQJ_font-family);
  color: var(--mixin-rHG6vOVBVdQJ_color);
  font-size: var(--mixin-rHG6vOVBVdQJ_font-size);
  font-weight: var(--mixin-rHG6vOVBVdQJ_font-weight);
  letter-spacing: var(--mixin-rHG6vOVBVdQJ_letter-spacing);
  line-height: var(--mixin-rHG6vOVBVdQJ_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-3f_v3XU5JXgr_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-kUNtEhln0lb1_font-family);
  color: var(--mixin-kUNtEhln0lb1_color);
  font-size: var(--mixin-kUNtEhln0lb1_font-size);
  font-weight: var(--mixin-kUNtEhln0lb1_font-weight);
  letter-spacing: var(--mixin-kUNtEhln0lb1_letter-spacing);
  line-height: var(--mixin-kUNtEhln0lb1_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-jzPIQDwItvYz_font-family);
  color: var(--mixin-jzPIQDwItvYz_color);
  font-size: var(--mixin-jzPIQDwItvYz_font-size);
  font-weight: var(--mixin-jzPIQDwItvYz_font-weight);
  letter-spacing: var(--mixin-jzPIQDwItvYz_letter-spacing);
  line-height: var(--mixin-jzPIQDwItvYz_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-WJMj3wQuMXsI_background);
  font-family: var(--mixin-WJMj3wQuMXsI_font-family);
  border-radius: var(--mixin-WJMj3wQuMXsI_border-top-left-radius)
    var(--mixin-WJMj3wQuMXsI_border-top-right-radius)
    var(--mixin-WJMj3wQuMXsI_border-bottom-right-radius)
    var(--mixin-WJMj3wQuMXsI_border-bottom-left-radius);
  padding: var(--mixin-WJMj3wQuMXsI_padding-top)
    var(--mixin-WJMj3wQuMXsI_padding-right)
    var(--mixin-WJMj3wQuMXsI_padding-bottom)
    var(--mixin-WJMj3wQuMXsI_padding-left);
  border-top: var(--mixin-WJMj3wQuMXsI_border-top-width)
    var(--mixin-WJMj3wQuMXsI_border-top-style)
    var(--mixin-WJMj3wQuMXsI_border-top-color);
  border-right: var(--mixin-WJMj3wQuMXsI_border-right-width)
    var(--mixin-WJMj3wQuMXsI_border-right-style)
    var(--mixin-WJMj3wQuMXsI_border-right-color);
  border-bottom: var(--mixin-WJMj3wQuMXsI_border-bottom-width)
    var(--mixin-WJMj3wQuMXsI_border-bottom-style)
    var(--mixin-WJMj3wQuMXsI_border-bottom-color);
  border-left: var(--mixin-WJMj3wQuMXsI_border-left-width)
    var(--mixin-WJMj3wQuMXsI_border-left-style)
    var(--mixin-WJMj3wQuMXsI_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-L0MXbfk9QZgd_color);
  padding-left: var(--mixin-L0MXbfk9QZgd_padding-left);
  border-left: var(--mixin-L0MXbfk9QZgd_border-left-width)
    var(--mixin-L0MXbfk9QZgd_border-left-style)
    var(--mixin-L0MXbfk9QZgd_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-1w0-DgzZJoz8_background);
  font-family: var(--mixin-1w0-DgzZJoz8_font-family);
  border-radius: var(--mixin-1w0-DgzZJoz8_border-top-left-radius)
    var(--mixin-1w0-DgzZJoz8_border-top-right-radius)
    var(--mixin-1w0-DgzZJoz8_border-bottom-right-radius)
    var(--mixin-1w0-DgzZJoz8_border-bottom-left-radius);
  padding: var(--mixin-1w0-DgzZJoz8_padding-top)
    var(--mixin-1w0-DgzZJoz8_padding-right)
    var(--mixin-1w0-DgzZJoz8_padding-bottom)
    var(--mixin-1w0-DgzZJoz8_padding-left);
  border-top: var(--mixin-1w0-DgzZJoz8_border-top-width)
    var(--mixin-1w0-DgzZJoz8_border-top-style)
    var(--mixin-1w0-DgzZJoz8_border-top-color);
  border-right: var(--mixin-1w0-DgzZJoz8_border-right-width)
    var(--mixin-1w0-DgzZJoz8_border-right-style)
    var(--mixin-1w0-DgzZJoz8_border-right-color);
  border-bottom: var(--mixin-1w0-DgzZJoz8_border-bottom-width)
    var(--mixin-1w0-DgzZJoz8_border-bottom-style)
    var(--mixin-1w0-DgzZJoz8_border-bottom-color);
  border-left: var(--mixin-1w0-DgzZJoz8_border-left-width)
    var(--mixin-1w0-DgzZJoz8_border-left-style)
    var(--mixin-1w0-DgzZJoz8_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-aJLD4iWvzCUr_display);
  flex-direction: var(--mixin-aJLD4iWvzCUr_flex-direction);
  align-items: var(--mixin-aJLD4iWvzCUr_align-items);
  justify-content: var(--mixin-aJLD4iWvzCUr_justify-content);
  list-style-position: var(--mixin-aJLD4iWvzCUr_list-style-position);
  padding-left: var(--mixin-aJLD4iWvzCUr_padding-left);
  position: var(--mixin-aJLD4iWvzCUr_position);
  list-style-type: var(--mixin-aJLD4iWvzCUr_list-style-type);
  flex-column-gap: var(--mixin-aJLD4iWvzCUr_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-SJ6cE-GvfB7t3_display);
  flex-direction: var(--mixin-SJ6cE-GvfB7t3_flex-direction);
  align-items: var(--mixin-SJ6cE-GvfB7t3_align-items);
  justify-content: var(--mixin-SJ6cE-GvfB7t3_justify-content);
  list-style-position: var(--mixin-SJ6cE-GvfB7t3_list-style-position);
  padding-left: var(--mixin-SJ6cE-GvfB7t3_padding-left);
  position: var(--mixin-SJ6cE-GvfB7t3_position);
  list-style-type: var(--mixin-SJ6cE-GvfB7t3_list-style-type);
  flex-column-gap: var(--mixin-SJ6cE-GvfB7t3_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-0FzdeHEx7ShMX_font-family);
  color: var(--mixin-0FzdeHEx7ShMX_color);
  font-size: var(--mixin-0FzdeHEx7ShMX_font-size);
  font-weight: var(--mixin-0FzdeHEx7ShMX_font-weight);
  letter-spacing: var(--mixin-0FzdeHEx7ShMX_letter-spacing);
  line-height: var(--mixin-0FzdeHEx7ShMX_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-D1SXU9ocrZAxY_font-family);
  color: var(--mixin-D1SXU9ocrZAxY_color);
  font-size: var(--mixin-D1SXU9ocrZAxY_font-size);
  font-weight: var(--mixin-D1SXU9ocrZAxY_font-weight);
  line-height: var(--mixin-D1SXU9ocrZAxY_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-n4q4LY6HRStKS_color);
}
